.card-category {
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 30px;
}

.btn-show {
  background-color: darkgrey;
  border-radius: 10px;
}

.btn-show:hover {
  background-color: #F8D200;
}

.fas {
  color: white;
}

a:hover {
  text-decoration: none !important;
}

.btn-back a {
  color: white;
}

.btn-back {
  margin-top: 30px;
  background-color: darkgrey;
  border-radius: 10px;
}

.btn-back:hover {
  background-color: #F8D200;
}


.information {
  background-color: rgba(255,255,255,0.4);
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  padding: 40px;
  position: relative;
  height: 650px;
}

.ingredient {
  position: absolute;
  top: 0;
  left: 15px;
  width: 350px;
  p {
    line-height: 40px;
  }
}

.description {
  position: absolute;
  right: 0;
  top: 0;
  width: 500px;
}

