.banner {
  background-size: cover;
  background-position: center;
  height: calc(100vh - 70px);
  text-align: center;
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),
asset-url('bar.jpeg');
  width: 100%;
}
.content {
  height: calc(100vh - 70px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.banner h1 {
  margin: 0;
  color: #F8D200;
  text-shadow: 0 0 15px rgba(255, 226, 0, 1);
  font-size: 40px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.banner a {
  background-color: white;
  opacity: .8;
  border-radius: 10px;
  padding: 10px 30px;
}

.banner a:hover {
  background-color: #F8D200;
  color: white;
  opacity: 1;
  text-shadow: 0 0 15px rgba(0, 0, 0, 1);
}
