.container-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 300px;
  position: absolute;
  top: 105vh;
  left: 11%;
}
.card {
  height: 175px;
  width: 300px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: white;
}
.card-description h2 {
  font-size: 24px;
  padding: 10px;
}
.card-description p {
  font-size: 14px;
  opacity: 0.7;
  font-weight: lighter;
}

.container-card a:hover{
  text-decoration: none;
}
